
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Colores */
.bg-primary {
background-color: #2e3440;
}

.bg-secondary {
  background-color: #3b4252;
}

.bg-tertiary {
  background-color: #434c5e;
}

.bg-button {
  background-color: #5e81ac;
}

.text-primary {
  color: #e5e9f0
}

.text-secondary {
  color: #d8dee9;
}

.text-color {
  color: #5e81ac;
}

/* --- */

/* Slider infinito tecnologias */
/*


.slider-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100px; 
}

.slider-content {
  display: flex;
  gap: 2rem; 
  animation: slide 10s linear infinite;
}

.slider-item {
  flex-shrink: 0;
  width: auto; 
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%); 
  }
}*/

/* Menu nav */
  section {
    scroll-margin-top: 80px;
  }
  
  /* Animación underline */
  .link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
    background-size: 0 3px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .2s ease-in-out;
  }

  .link-underline-black {
    background-image: linear-gradient(transparent, transparent), linear-gradient(#3b4252, #E5E9F0)
  }

  .link-underline:hover {
    background-size: 100% 3px;
    background-position: 0 100%;
  }

  .active {
    text-decoration: underline;
    text-decoration-color: #434c5e;
    text-decoration-thickness: 3px;
  }

  html {
    scroll-behavior: smooth;
  }
/* --- */

/* Proyectos */
  /* efecto desenfoque */
.highlight-on-hover li {
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

  /* elementos <li> que tienen hover */
.highlight-on-hover li:hover {
  transform: scale(1.02) translateY(-3px);
  filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
}

  /* elementos <li> que no tienen hover */
/* .highlight-on-hover:hover li:not(:hover) {
  filter: blur(2px);
} */

  /* bg al hacer hover */
#lista-proyectos li .detalles-proyecto {
  transition: background-color 0.3s ease, border-radius 0.3s ease;
  padding: 1.5rem;
  min-width: 300px;
  min-height: 200px;
}

#lista-proyectos li:hover .detalles-proyecto {
  background-color: #3B4252;
  border-radius: 0.75rem;
}

.miniatura {
  order: -1;
}

.miniatura img {
  width: 100%;
  height: auto;
  display: block;
}

/* To-top-button */
.hidden {
  display: none;
}

#to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  transition: opacity 0.3s ease;
}

#to-top-button.show {
  display: flex;
  opacity: 1;
}

#to-top-button.hide {
  opacity: 0;
}

/* --- */

@media screen and (min-width: 769px) {
  .miniatura img {
    width: 100px;
    height: 60px;
  }
}

@media screen and (max-width: 768px) {
  .detalles-proyecto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
    max-width: 100%;
  }
}
/* --- */